In [16]:
import pandas as pd
import numpy
src_date=pd.read_excel(r'演示数据\pokemon.xlsx','pokemon_chn')
src_date

,中文名称,classfication,type1,type2,特性,against_bug,against_dark,against_dragon,against_electric,against_fairy,...,hp,name,percentage_male,pokedex_number,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
0,妙蛙种子,种子宝可梦,草系,毒系,"['茂盛', '叶绿素'],",1.0,1.0,1.0,0.5,0.5,...,45,Bulbasaur,88.1,1,65,65,45,6.9,1,0
1,妙蛙草,种子宝可梦,草系,毒系,"['茂盛', '叶绿素'],",1.0,1.0,1.0,0.5,0.5,...,60,Ivysaur,88.1,2,80,80,60,13.0,1,0
2,妙蛙花,种子宝可梦,草系,毒系,"['茂盛', '叶绿素'],",1.0,1.0,1.0,0.5,0.5,...,80,Venusaur,88.1,3,122,120,80,100.0,1,0
3,小火龙,蜥蜴宝可梦,火系,NaN,"['猛火', '太阳之力'],",0.5,1.0,1.0,1.0,0.5,...,39,Charmander,88.1,4,60,50,65,8.5,1,0
4,火恐龙,火焰宝可梦,火系,NaN,"['猛火', '太阳之力'],",0.5,1.0,1.0,1.0,0.5,...,58,Charmeleon,88.1,5,80,65,80,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,磨牙彩皮鱼,磨牙宝可梦,水系,超能力系,"['鲜艳之躯', '强壮之颚', '奇幻皮肤 '],",2.0,2.0,1.0,2.0,1.0,...,68,Bruxish,50.0,779,70,70,92,19.0,7,0
699,老翁龙,悠游宝可梦,一般系,龙系,"['怒火冲天', '食草', '无关天气'],",1.0,1.0,2.0,0.5,2.0,...,78,Drampa,50.0,780,135,91,36,185.0,7,0
700,心鳞宝,鳞片宝可梦,龙系,NaN,"['防弹', '隔音', '防尘'],",1.0,1.0,2.0,0.5,2.0,...,45,Jangmo-o,50.0,782,45,45,45,29.7,7,0
701,鳞甲龙,鳞片宝可梦,龙系,格斗系,"['防弹', '隔音', '防尘'],",0.5,0.5,2.0,0.5,4.0,...,55,Hakamo-o,50.0,783,65,70,65,47.0,7,0
702,杖尾鳞甲龙,鳞片宝可梦,龙系,格斗系,"['防弹', '隔音', '防尘'],",0.5,0.5,2.0,0.5,4.0,...,75,Kommo-o,50.0,784,100,105,85,78.2,7,0

In [4]:
src_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   中文名称               703 non-null    object
 1   classfication      688 non-null    object
 2   type1              703 non-null    object
 3   type2              357 non-null    object
 4   特性                 703 non-null    object
 5   against_bug        703 non-null    float64
 6   against_dark       703 non-null    float64
 7   against_dragon     703 non-null    float64
 8   against_electric   703 non-null    float64
 9   against_fairy      703 non-null    float64
 10  against_fight      703 non-null    float64
 11  against_fire       703 non-null    float64
 12  against_flying     703 non-null    float64
 13  against_ghost      703 non-null    float64
 14  against_grass      703 non-null    float64
 15  against_ground     703 non-null    float64
 16  against_ice        703 non-null    float64
 17  against_normal     703 non-null    float64
 18  against_poison     703 non-null    float64
 19  against_psychic    703 non-null    float64
 20  against_rock       703 non-null    float64
 21  against_steel      703 non-null    float64
 22  against_water      703 non-null    float64
 23  attack             703 non-null    int64
 24  base_egg_steps     703 non-null    int64
 25  base_happiness     703 non-null    int64
 26  base_total         703 non-null    int64
 27  capture_rate       703 non-null    int64
 28  defense            703 non-null    int64
 29  experience_growth  703 non-null    int64
 30  height_m           684 non-null    float64
 31  hp                 703 non-null    int64
 32  name               703 non-null    object
 33  percentage_male    703 non-null    float64
 34  pokedex_number     703 non-null    int64
 35  sp_attack          703 non-null    int64
 36  sp_defense         703 non-null    int64
 37  speed              703 non-null    int64
 38  weight_kg          684 non-null    float64
 39  generation         703 non-null    int64
 40  is_legendary       703 non-null    int64
dtypes: float64(21), int64(14), object(6)
memory usage: 225.3+ KB

In [11]:
new_date=src_date[['中文名称','attack','defense','generation']]
new_date

      中文名称  attack  defense  generation
0     妙蛙种子      49       49           1
1      妙蛙草      62       63           1
2      妙蛙花     100      123           1
3      小火龙      52       43           1
4      火恐龙      64       58           1
..     ...     ...      ...         ...
698  磨牙彩皮鱼     105       70           7
699    老翁龙      60       85           7
700    心鳞宝      55       65           7
701    鳞甲龙      75       90           7
702  杖尾鳞甲龙     110      125           7

[703 rows x 4 columns]

In [12]:
new_date['战斗力']=(new_date['attack']+new_date['defense'])/2

C:\Users\17315\AppData\Local\Temp\ipykernel_4092\289735269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_date['战斗力']=(new_date['attack']+new_date['defense'])/2

In [13]:
new_date

      中文名称  attack  defense  generation    战斗力
0     妙蛙种子      49       49           1   49.0
1      妙蛙草      62       63           1   62.5
2      妙蛙花     100      123           1  111.5
3      小火龙      52       43           1   47.5
4      火恐龙      64       58           1   61.0
..     ...     ...      ...         ...    ...
698  磨牙彩皮鱼     105       70           7   87.5
699    老翁龙      60       85           7   72.5
700    心鳞宝      55       65           7   60.0
701    鳞甲龙      75       90           7   82.5
702  杖尾鳞甲龙     110      125           7  117.5

[703 rows x 5 columns]

In [14]:
df=new_date.groupby('generation').agg('mean')

In [15]:
df

               attack    defense        战斗力
generation
1           74.826087  69.521739  72.173913
2           67.923913  70.065217  68.994565
3           74.495798  68.327731  71.411765
4           80.000000  71.733333  75.866667
5           78.321429  69.928571  74.125000
6           71.815385  69.923077  70.869231
7           78.542373  73.661017  76.101695